.App {
  text-align: center;
}

.App-board {
  border-collapse: collapse;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear alternate;
  height: 35vmin;
}

.App-header {
  background-color: #282c34;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-square {
  color: #000;
  width: 4vmin;
  height: 4vmin;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.dark {
  background-color: #060;
}

.dark:hover {
  background-color: #460;
}

.light {
  background-color: #ffe;
}

.light:hover {
  background-color: #ffb;
}

.yellow-and-snow-not-good {
  color: #fff;
  font-size: 2em;
  transition: 1s;
}

.yellow-and-snow-not-good:hover {
  color: #ffff00  ;
}

@keyframes App-logo-spin {
  from {
    transform: skewX(15deg) scale(1.1, 0.9);
  }

  25% {
    transform: skewX(5deg) scale(1, 1);
  }

  50% {
    transform: skewX(0) scale(0.75, 1.3);
  }

  75% {
    transform: skewX(-5deg) scale(1, 1);
  }

  to {
    transform: skewX(-15deg) scale(1.1, 0.9);
  }
}
